html {
  display: flex;
  height: 100%;
}

body {
  display: flex;
  flex: 1;
}

body > div {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

textarea {
  flex: 1;
}
